@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap');

body{
    width: 95%;
    text-align: center;
    margin-top: 100px;
}

h1, h2,  .score  {
    font-family: 'Rock Salt';
    color: #588068;
}

#word {
    font-family: Lato;
    color: #E5B0A4;
    font-size: 2.5em;
    padding-bottom: 10px;
}

button{
background-color: #9D8A76;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 10px 20px;
  border-radius: 5px;

}

button:hover {
    background-color: #403d39ff;
}

.hidden {
    display: none;
}

#hint, #count{
    font-family: Lato;
    color: #aaaaaa;
    font-size: 2em;
    padding-top: 10px;
}

#alert {
    font-family: Lato;
    color: #aaaaaa;
    font-size: 1.2em;
    padding-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: .75fr .15fr .5fr;
    align-items: center;
    justify-content: center;
}

label {
    font-family: Lato;
    padding: 10px;
}

input[type=text]{
    padding: 10px;
}

.special {
    background-color: black;
}

#topScores {
    font-family: Lato;
}

#topScores li {
    padding-top: 5px;
}

.maxWidth {
    width: 150px;
    margin-left: 150px;
}





